{
    "agent_user": "ubuntu",
    "frontend_image_name": "Ubuntu Server 12.04.5 LTS (amd64 20140927) - Partner Image",
    "frontend_flavor_name": "standard.medium",
    "backend_image_name": "Ubuntu Server 12.04.5 LTS (amd64 20140927) - Partner Image",
    "backend_flavor_name": "standard.medium",
    "backend_app_port": 80
}
