global
	daemon
	maxconn {{global_maxconn}}

defaults
	mode {{mode}}
	timeout connect {{timeout_connect}}
	timeout client {{timeout_client}}
	timeout server {{timeout_server}}

frontend {{frontend_id}}
	bind *:{{frontend_port}}
	default_backend {{default_backend}}

backend {{default_backend}}
    {% for id, backend in backends.iteritems() %}
    server {{ id }} {{ backend.address }}:{{ backend.port }} maxconn {{ backend.maxconn }}
    {% endfor %}
